{
  "openapi": "3.0.3",
  "info": {
    "title": "TakasumiBOT API",
    "description": "TakasumiBOTの公開API",
    "version": "3.0.0-beta"
  },
  "servers": [
    {
      "url": "https://api.takasumibot.com/"
    }
  ],
  "paths": {
    "/v3/gift/{id}": {
      "get": {
        "description": "指定したIDのギフト情報を取得します。パラメータ: id（ギフトID）",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "ギフトコード（A-Za-z0-9 10文字）"
            }
          }
        ],
        "operationId": "getV3GiftById",
        "responses": {
          "200": {
            "description": "ギフト情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GiftResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/history/{id}": {
      "get": {
        "description": "指定したユーザーIDの取引履歴を返します。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "DiscordユーザーID",
              "type": "string"
            }
          }
        ],
        "operationId": "getV3HistoryById",
        "responses": {
          "200": {
            "description": "取引履歴一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/HistoryEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/profile/{id}": {
      "get": {
        "description": "指定したユーザーIDのプロフィール情報（資産、チップ、職業）を返します。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "DiscordユーザーID",
              "type": "string"
            }
          }
        ],
        "operationId": "getV3ProfileById",
        "responses": {
          "200": {
            "description": "プロフィール情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/ranking/": {
      "get": {
        "description": "資産ランキング上位50名の情報を返します。パラメータは不要です。",
        "operationId": "getV3Ranking",
        "responses": {
          "200": {
            "description": "ランキング一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RankingEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/companylist/": {
      "get": {
        "description": "全ての会社のリストを返します。パラメータは不要です。",
        "operationId": "getV3Companylist",
        "responses": {
          "200": {
            "description": "会社一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyListEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/company/{id}": {
      "get": {
        "description": "指定したID（会社IDまたはオーナーID）に対応する会社情報を返します。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "会社ID（10文字）またはオーナーのDiscordユーザーID",
              "type": "string"
            }
          }
        ],
        "operationId": "getV3CompanyById",
        "responses": {
          "200": {
            "description": "会社詳細",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/stock/": {
      "get": {
        "description": "全ての株式情報（会社名、配当など）を返します。パラメータは不要です。",
        "operationId": "getV3Stock",
        "responses": {
          "200": {
            "description": "株式一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StockEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/discord/usersearch/{name}": {
      "get": {
        "description": "指定したユーザー名のキャッシュされたDiscordユーザー情報を返します。",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "description": "Discordユーザー名",
              "type": "string"
            }
          }
        ],
        "operationId": "getV3DiscordUsersearchByName",
        "responses": {
          "200": {
            "description": "Discordユーザー情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscordUserSearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/companyHistory/{id}": {
      "get": {
        "description": "指定した会社IDの取引履歴を返します。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "description": "会社ID",
              "type": "string"
            }
          }
        ],
        "operationId": "getV3CompanyHistoryById",
        "responses": {
          "200": {
            "description": "会社取引履歴一覧",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyHistoryEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/tax/": {
      "get": {
        "description": "全ての税率や税区分の情報を返します。パラメータは不要です。",
        "operationId": "getV3Tax",
        "responses": {
          "200": {
            "description": "税率情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TaxResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/shard/": {
      "get": {
        "description": "シャードの情報を返します。パラメータは不要。",
        "operationId": "getV3Shard",
        "responses": {
          "200": {
            "description": "シャード情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShardResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/status/": {
      "get": {
        "description": "システムログ情報を返します。パラメータは不要です。",
        "operationId": "getV3Status",
        "responses": {
          "200": {
            "description": "ステータス履歴",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StatusEntry"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/statistics/": {
      "get": {
        "description": "統計情報を返します。パラメータは不要です。",
        "operationId": "getV3Statistics",
        "responses": {
          "200": {
            "description": "統計情報",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatisticsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v3/realtime/": {
      "ws": {
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "wsV3Realtime"
      }
    }
  },
  "components": {
    "schemas": {
      "GiftResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["gift"],
            "description": "オブジェクトの種類"
          },
          "id": {
            "type": "string",
            "description": "ギフトコード（A-Za-z0-9 10文字）"
          },
          "userId": {
            "type": "string",
            "description": "ギフト送信者のDiscordユーザーID"
          },
          "status": {
            "type": "string",
            "enum": ["received", "unused"],
            "description": "ギフトの状態"
          },
          "receiverId": {
            "type": "string",
            "nullable": true,
            "description": "ギフト受取者のDiscordユーザーID（受け取られていない場合はnull）"
          },
          "amount": {
            "type": "integer",
            "format": "int64",
            "description": "ギフトの金額"
          },
          "boughtAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "ギフトが受け取られた時刻（受け取られていない場合はnull）"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ギフトが作成された時刻"
          }
        }
      },
      "RankingEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "DiscordユーザーID"
          },
          "username": {
            "type": "string"
          },
          "avatarURL": {
            "type": "string",
            "nullable": true,
            "description": "DiscordアバターURL"
          },
          "assets": {
            "type": "integer",
            "format": "int64"
          },
          "chips": {
            "type": "integer",
            "format": "int64"
          },
          "jobType": {
            "type": "string"
          }
        }
      },
      "ProfileResponse": {
        "type": "object",
        "properties": {
          "assets": {
            "type": "integer",
            "format": "int64"
          },
          "chips": {
            "type": "integer",
            "format": "int64"
          },
          "jobType": {
            "type": "string"
          }
        }
      },
      "HistoryEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "userId": {
            "type": "string",
            "description": "DiscordユーザーID"
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "reason": {
            "type": "string"
          },
          "tradedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CompanyListEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "会社ID"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "assets": {
            "type": "integer",
            "format": "int64"
          },
          "salary": {
            "type": "integer",
            "format": "int64"
          },
          "jobType": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "DiscordユーザーID"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CompanyEmployeeEntry": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "description": "DiscordユーザーID"
          },
          "companyId": {
            "type": "string",
            "description": "会社ID"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "joinedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CompanyStatistics": {
        "type": "object",
        "properties": {
          "companyId": {
            "type": "string",
            "description": "会社ID"
          },
          "totalEarn": {
            "type": "integer",
            "format": "int64"
          },
          "totalUse": {
            "type": "integer",
            "format": "int64"
          },
          "totalTax": {
            "type": "integer",
            "format": "int64"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CompanyDetailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "会社ID"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "assets": {
            "type": "integer",
            "format": "int64"
          },
          "salary": {
            "type": "integer",
            "format": "int64"
          },
          "jobType": {
            "type": "string"
          },
          "ownerId": {
            "type": "string",
            "description": "DiscordユーザーID"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "statistics": {
            "$ref": "#/components/schemas/CompanyStatistics"
          },
          "employees": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CompanyEmployeeEntry"
            }
          }
        }
      },
      "StockEntry": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "description": "株式コード"
          },
          "description": {
            "type": "string"
          },
          "dividendAmount": {
            "type": "integer",
            "format": "int64"
          },
          "dividendRate": {
            "type": "number"
          },
          "prices": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      },
      "TaxRateEntry": {
        "type": "object",
        "properties": {
          "threshold": {
            "type": "number"
          },
          "rate": {
            "type": "number"
          }
        }
      },
      "TaxResponse": {
        "type": "object",
        "properties": {
          "benefitTax": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxRateEntry"
            }
          },
          "companyBenefitTax": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaxRateEntry"
            }
          },
          "debtInterestRate": {
            "type": "number"
          },
          "depositInterestRate": {
            "type": "number"
          },
          "depositTaxRate": {
            "type": "number"
          },
          "exchangeTaxRate": {
            "type": "number"
          },
          "giftTaxRate": {
            "type": "number"
          },
          "idleTax": {
            "type": "integer",
            "format": "int64"
          },
          "incomeTaxRate": {
            "type": "number"
          },
          "tradeTaxRate": {
            "type": "number"
          }
        }
      },
      "ShardDataEntry": {
        "type": "object",
        "properties": {
          "shardId": {
            "type": "string"
          },
          "guildCount": {
            "type": "string"
          },
          "userCount": {
            "type": "string"
          },
          "ping": {
            "type": "string"
          }
        }
      },
      "ShardResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ShardDataEntry"
            }
          },
          "loggedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StatusEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "ping": {
            "type": "integer",
            "format": "int32"
          },
          "totalUser": {
            "type": "integer",
            "format": "int64"
          },
          "totalGuild": {
            "type": "integer",
            "format": "int64"
          },
          "totalCommand": {
            "type": "integer",
            "format": "int64"
          },
          "cpuUsage": {
            "type": "integer",
            "format": "int32"
          },
          "memoryUsage": {
            "type": "integer",
            "format": "int32"
          },
          "loggedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DiscordUserSearchResponse": {
        "type": "object",
        "properties": {
          "accentColor": {
            "type": "integer",
            "format": "int32"
          },
          "avatar": {
            "type": "string",
            "nullable": true
          },
          "banner": {
            "type": "string",
            "nullable": true
          },
          "bot": {
            "type": "boolean"
          },
          "flags": {
            "type": "integer",
            "format": "int32"
          },
          "globalName": {
            "type": "string",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "DiscordユーザーID"
          },
          "username": {
            "type": "string"
          }
        }
      },
      "CompanyHistoryEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "companyId": {
            "type": "string",
            "description": "会社ID"
          },
          "userId": {
            "type": "string",
            "description": "DiscordユーザーID"
          },
          "amount": {
            "type": "integer",
            "format": "int64"
          },
          "reason": {
            "type": "string"
          },
          "tradedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "StatisticsResponse": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "totalEarn": {
                "type": "integer",
                "format": "int64"
              },
              "totalUse": {
                "type": "integer",
                "format": "int64"
              },
              "totalTax": {
                "type": "integer",
                "format": "int64"
              },
              "totalWork": {
                "type": "integer",
                "format": "int64"
              },
              "totalCommand": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "company": {
            "type": "object",
            "properties": {
              "totalEarn": {
                "type": "integer",
                "format": "int64"
              },
              "totalUse": {
                "type": "integer",
                "format": "int64"
              },
              "totalTax": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "economy": {
            "type": "object",
            "properties": {
              "treasury": {
                "type": "integer",
                "format": "int64"
              },
              "debt": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          "event": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "format": "int64"
              },
              "totalOnlyUser": {
                "type": "integer",
                "format": "int64"
              },
              "messageCreate": {
                "type": "object",
                "properties": {
                  "oneDay": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "difference": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "oneDayOnlyUser": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "differenceOnlyUser": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              },
              "interactionCreate": {
                "type": "object",
                "properties": {
                  "oneDay": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "difference": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "oneDayOnlyUser": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "differenceOnlyUser": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              },
              "guildMemberAdd": {
                "type": "object",
                "properties": {
                  "oneDay": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "difference": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              },
              "guildMemberRemove": {
                "type": "object",
                "properties": {
                  "oneDay": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "difference": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              },
              "guildCreate": {
                "type": "object",
                "properties": {
                  "oneDay": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "difference": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              },
              "guildDelete": {
                "type": "object",
                "properties": {
                  "oneDay": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "difference": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
